.catalog__container {
  display: flex;
  max-width: 1200px;
  gap: 2px;
}

.product__container {
  margin: 0 auto;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-wrap: wrap;
}

.product__card {
  padding: 15px;
  display: grid;
  grid-template-columns: 150px 80px 100px;
  grid-template-rows: 1fr 40px;
  gap: 20px;
  border: 1px #ddd solid;
  background-color: #fff;
  border-radius: 8px;
}

.product__image {
  width: auto;
  height: 150px;
}

.product__image.product__image--no-picture {
  background-image: url('../../assets/img/no-img.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
}

.product__name {
  font-weight: bold;
}

.product__description {
  padding-left: 5px;
}

.product__price {
  font-size: 18px;
  justify-self: center;
}

.product__discount {
  font-size: 28px;
  color: red;
  justify-self: center;
}

.product__discounted-price {
  font-size: 24px;
  color: red;
  justify-self: center;
}

.product__price.product__price--cancel {
  text-decoration: line-through;
}

.filter__container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
