.login__form {
  margin: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.login__button,
.login__password-check-box {
  cursor: pointer;
}

.login__user-email,
.login__user-password {
  border-radius: 5px;
}

.login__user-password.correct,
.login__user-email.correct {
  box-shadow: 0 0 5px 1px green;
}

.login__user-password.incorrect,
.login__user-email.incorrect {
  box-shadow: 0 0 5px 1px red;
}

input:focus {
  outline: 0;
}

.login__password-check-box-block {
  display: flex;
  justify-content: center;
}