<h2 class="template__title">Manage your addresses</h2>
<div class="adress__fields"></div>
<div class="address__check-box">
  <input type="checkbox" id="billing-country" name="billing" class="billing" />
  <label for="billing-country">Billing address</label>
</div>

<div class="address__check-box">
  <input type="checkbox" id="shipping-country" name="shipping" class="shipping" />
  <label for="shipping-country">Shipping address</label>
</div>

<div class="address__check-box">
  <input type="checkbox" id="default-billing" name="default-billing" class="billing-country" />
  <label for="default-billing">Default billing address</label>
</div>

<div class="address__check-box">
  <input type="checkbox" id="default-shipping" name="default-shipping" class="shipping-country" />
  <label for="default-shipping">Default shipping address</label>
</div>
