<a href="#" class="logo header__logo">SD Merch</a>
<div class="nav-container">
  <nav class="nav nav--main">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#catalog" class="nav__link"><span class="icon">storefront</span> Catalog</a>
      </li>
      <li class="nav__item">
        <a href="#about-us" class="nav__link"><span class="icon">group</span> About Us</a>
      </li>
    </ul>
  </nav>
  <login-box class="header__login-box"></login-box>
</div>
<a href="#" class="nav-toggle"><span></span></a>
