.header {
  background: rgb(241, 220, 220);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  padding: 1em;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1em;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:before {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    content: '';
    background: url('../../assets/icons/slickdeals.svg');
  }
}
