* {
  box-sizing: border-box;
}

.registration__container {
  width: 350px;
  margin: 0 auto;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registration__form {
  margin-bottom: 25px;
  border: 1px #ddd solid;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
}

.registration__form-title {
  margin: 0 0 15px 0;
}

.input-module,
.registration__addresses {
  margin-bottom: 15px;
}

.input-module__label {
  font-weight: 600;
  padding-left: 2px;
}

.input-module__input-field {
  background-color: #fff;
  height: 28px;
  padding: 3px 7px;
  border-radius: 3px;
  border: 1px solid #a6a6a6;
  line-height: normal;
  width: 100%;
}

.input-module__input-field:focus {
  background-color: #f7feff;
  border-color: #007185;
  box-shadow:
    0 0 0 3px #c8f3fa,
    0 1px 2px rgba(15, 17, 17, 0.15) inset;
}

.input-module__input-field.field-error:focus {
  background-color: #f7feff;
  border-color: #cc0c39;
  box-shadow:
    0 0 0 1px #cc0c39 inset,
    0 0 0 3px #facece;
}

.field-error {
  border-color: #cc0c39;
  box-shadow: 0 0 0 1px #cc0c39 inset;
}

.input-module__error-box {
  display: flex;
}

.error-box__icon {
  width: 15px;
  height: 15px;
  margin: 2px;
  align-self: center;
}

.error-box__content {
  color: red;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 14px;
  align-self: center;
  letter-spacing: 0.02rem;
}

.date {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date .input-module__label {
  align-self: center;
}

.date .input-module__error-box {
  width: 50%;
  margin-left: auto;
  margin-right: 0;
}

input[type='date'] {
  width: 50%;
  height: 28px;
}

.hidden {
  display: none;
}

.registration__button-container {
  width: 100%;
}

.submit-button,
.login-button {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(49, 189, 107);
  background-color: rgb(57, 214, 122);
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
}

.submit-button:hover,
.login-button:hover {
  border: 1px solid rgb(49, 189, 107);
  background-color: rgb(49, 189, 107);
}

.submit-button:active,
.login-button:active {
  opacity: 0.8;
}

.submit-button:disabled,
.login-button:disabled {
  cursor: not-allowed;
  border: 1px solid rgb(49, 189, 107);
  background-color: rgb(57, 214, 122);
  opacity: 1;
}

.registration__pop-up {
  width: 300px;
  height: 300px;
  position: absolute;
  border: 2px solid #007185;
  border-radius: 10px;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 15px;
}

.pop-up__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.pop-up__icon-box,
.pop-up__message {
  margin: 20px;
  text-align: center;
}

.pop-up__icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.pop-up__message {
  font-size: 1.25rem;
  font-weight: 600;
}

.pop-up__icon:hover {
  opacity: 0.8;
}

.pop-up__icon:active {
  opacity: 0.9;
  transform: scale(0.9);
}

.registration__addresses-container {
  display: flex;
  flex-direction: column;
}

.registration__addresses-title {
  text-align: center;
  align-self: center;
  font-weight: 600;
}

.registration__divider {
  height: 44px;
  margin-bottom: -18px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
  zoom: 1;
}

.registration__divider::after {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  content: '';
}

.addresses__country-select {
  width: 286px;
  padding: 3px 7px;
  height: 28px;
  z-index: 10;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
}

.addresses__country-select:hover {
  background-color: #ddd;
}

.addresses__country-select:active {
  background-color: #eceaea;
}
