* {
  box-sizing: border-box;
}

.registration__container {
  width: 350px;
  margin: 0 auto;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.registration__form {
  margin-bottom: 25px;
  border: 1px #ddd solid;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
}

.registration__form-title {
  margin: 0 0 15px 0;
}

.button-container {
  width: 100%;
}

.submit-button,
.login-button {
  width: 100%;
  height: 30px;
  border: 1px solid rgb(49, 189, 107);
  background-color: rgb(57, 214, 122);
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 15px;
}

.submit-button:hover,
.login-button:hover {
  border: 1px solid rgb(49, 189, 107);
  background-color: rgb(49, 189, 107);
}

.submit-button:active,
.login-button:active {
  opacity: 0.8;
}

.submit-button:disabled,
.login-button:disabled {
  cursor: not-allowed;
  border: 1px solid rgb(49, 189, 107);
  background-color: rgb(57, 214, 122);
  opacity: 1;
}

.registration__address-container {
  display: flex;
  flex-direction: column;
}

.registration__address {
  margin-bottom: 15px;
}

.registration__address-title {
  text-align: center;
  align-self: center;
  font-weight: 600;
}

.registration__divider {
  height: 44px;
  margin-bottom: -18px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
  zoom: 1;
}

.registration__divider::after {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0), #fff);
  content: '';
}

.hidden {
  display: none;
}
