<nav class="nav login-box">
  <ul class="nav__list">
    <li class="nav__item login-box__item login-box__login">
      <a href="#login" class="nav__link">Login</a>
    </li>
    <li class="nav__item login-box__item login-box__register">
      <a href="#registration" class="nav__link">Registration</a>
    </li>
    <li class="nav__item login-box__item login-box__profile">
      <a href="#profile" class="nav__link"><span class="icon">person</span>Profile</a>
    </li>
    <li class="nav__item login-box__item login-box__cart">
      <a href="#cart" class="nav__link"><span class="icon">shopping_cart</span>Cart</a>
    </li>
    <li class="nav__item login-box__item login-box__logout">
      <a href="#logout" class="nav__link"><span class="icon">logout</span>Logout</a>
    </li>
  </ul>
</nav>
