.intro {
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.section {
  margin-bottom: 2em;
}

.section__title {
  margin-bottom: 0.2em;

  & + p {
    margin-top: 0;
  }
}

.sale code {
  border: 1px solid var(--border-color);
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 4px;
  padding: 0.1em 0.5em;
}
